<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemons</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
          integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body>
    <main class="container">
        <div id="navbar">
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                        <a class="navbar-brand" href="/">Pokémon</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    
                        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'leaderboard' %}">Leaderboard</a>
                                </li>
                                {% if not user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'signUp' %}">Register</a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                                        </li>
                                {% else %}

                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'pokemon-list' %}">My Pokémon</a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'pokemon-feed' %}">Feed</a>
                                    </li>
                                </ul>
                                {% endif %}
                            </ul>
                            {% if user.is_authenticated %}
                                <ul class="navbar-nav mr-right">
                                    <li class="nav-item">
                                        <a class="nav-link" href="/api">API</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/api/doc">Documentation</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link">Welcome {{ user.username }}</a>
                                    </li>
                                    <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}" method="POST">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
                                    </form>
                                </ul>
                            {% endif %}
                        </div>
                    </nav>
        </div>
        <div id="content" style="margin:10%">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>
</html>
