{% extends 'base.html' %}
{% block content %}
    {% if not error == None %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <h1>Breed your Pokémon</h1>
    <h2>Select your first Pokémon: </h2>
    <form method="post" class='Product-Form'>
            <select name=pokemon_id_1>
                {% for pokemon in object_list %}
                    <option value="{{ pokemon.pk}}">{{pokemon.pokemon_id}} {{ pokemon.name.capitalize}} {{pokemon.gender}}</option>
                {% endfor %}
            </select>
            <h2>Select your second Pokémon: </h2>
            <select name=pokemon_id_2>
                {% for pokemon in object_list %}
                    <option value="{{ pokemon.pk}}">{{pokemon.pokemon_id}} {{ pokemon.name.capitalize}} {{pokemon.gender}}</option>
                {% endfor %}
            </select>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Breed</button>
    </form>
{% endblock %}