{% extends 'base.html' %}
{% block content %}

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/320px-International_Pok%C3%A9mon_logo.svg.png">
<h1>Hello Welcome to the Pokémon world</h1>
    <h3>How to use your Pokédex: </h3>
    <ul>
        <li>In the "My Pokémon" section you will have access to the Pokémon you have, on this page click on
            "Adopt a Pokémon" to receive a new one or "Breed" to choose two Pokémon from your list,
            and if they are compatible, then you will receive a new one..</li>
        <li>In the "Feed" section, you can choose four Pokémon from your list to trade them, Validate your choice and you will receive a new one.</li>
        <li>Don't forget to be competitive and see your rank in the "Leaderboard" section.</li>
    </ul>

    <h3>Complete the Pokédex</h3>
    <ul>
        <li>Adopt a Pokémon every 8 hours</li>
        <li>Breed two Pokémon to get a new random one!</li>
        <li>Be careful to do not breed incompatible Pokémon and to wait 8 hours before try to breed again</li>
        <li>You can trade 4 Pokémon to professor Sylvain to get a random one</li>
    </ul>
{% endblock %}