{% extends 'base.html' %}

{% block content %}
    <h1>Leaderboard</h1>

    <table class="table">
        <thead>
            <th class="text-center" scope="col" style="width: 15%">Trainer</th>
            <th class="text-center" scope="col" style="width: 30%">pokédex</th>
            <th class="text-center" scope="col" style="width: 30%">total</th>
        </thead>
        <tbody>
        {% for user in object_list %}
            <tr>
                <td class="align-middle text-center">
                    <a class="nav-link" href="{% url 'pokemon-list'%}?user={{ user.username }}">{{ user.username }}</a>
                </td>
                <td class="align-middle text-center">{{ user.nb_pokedex }}</td>
                <td class="align-middle text-center">{{ user.nb_total }}</td>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}