{% extends 'base.html' %}
{% block content %}
<h1 style="margin-bottom: 2cm">Enter in the Pokemon world</h1>

{% if user.is_authenticated %}
    You are logged as {{ user.username }} !
    <a href="/">Go to Home</a>
{% else %}

    <div class="row">
        <form class="col-md-5" method="post" action=".">
            {% csrf_token %}
        <div style="margin-bottom: 3cm"></div>
            <div class="row">
                <label for="username" class="form-group col-md-3 text-right">Trainer: </label>
                <input id="username" type="text" name="username" value="" class="form-control col-md-4">
            </div>
            <div class="row">
                <label for="password" class="form-group col-md-3 text-right">Password: </label>
                <input id="password" type="password" name="password" value="" class="form-control col-md-4">
            </div>
            {% if error %}
            <p style="color: #FF0000;"><strong>Unknown user or wrong password</strong></p>
            {% endif %}
            <button type="submit" class="btn btn-primary float-right">Login</button>
        </form>
        <div class="col-md-1"></div>
        <form class="col-md-6" method="post" action="{% url 'signUp' %}">
            {% csrf_token %}

            <h4>You are not already registered?</h4>
            <h4>Join now! 3 Pokémon are waiting you!</h4>
            <div class="row">
                <label for="username" class="form-group col-md-3 text-right">Trainer: </label>
                <input id="username" type="text" name="username" value="" class="form-control col-md-4">
            </div>
            <div class="row">
                <label for="email" class="form-group col-md-3 text-right">Email: </label>
                <input id="email" type="text" name="email" value="" class="form-control col-md-4">
            </div>
            <div class="row">
                <label for="password" class="form-group col-md-3 text-right">Password: </label>
                <input id="password" type="password" name="password" value="" class="form-control col-md-4">
            </div>
            {% if error %}
            <p style="color: #FF0000;"><strong>Trainer or email is already in use</strong></p>
            {% endif %}
            <button type="submit" class="btn btn-success float-right">Sign Up</button>
        </form>
    </div>

{% endif %}
{% endblock %}