{% extends 'base.html' %}

{% block content %}
    <div class="d-flex justify-content-end">
        <div class="mr-auto">Pokédex: {{ nb_pokedex }} / 807</div>
            {% if display_info %}
            <div class="">
                {% if can_breed_pokemon %}
                <form method="GET" action="{% url 'pokemon-breed' %}">
                    <button type="submit" class="btn btn-info">Breed pokémon</button>
                </form>
                {% else %}
                    <div>You already breed pokémon recently. Be patient !</div>
                {% endif %}
            </div>
            {% endif %}
    </div>
    <div class="d-flex justify-content-end">
        <div class="mr-auto">Owned pokémon : {{ nb_pokemon }}</div>
        {% if display_info %}
            <div class="">
                {% if can_get_pokemon %}
                    <form method="post" class='Product-Form'>
                    {% csrf_token %}
                    <button type="submit" name="adopt" class="btn btn-success">Adopt a Pokémon</button>
                    </form>
                {% else %}
                    <div>You already got a Pokémon recently. Come back later !</div>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% if display_info %}
        </br>
        <div>Last pokémon get: {{ request.user.last_get }}</div>
        <div>Last pokémon breed: {{ request.user.last_breed }}</div>
    {% endif %}
    </br>

    <table class="table">
        <thead>
            <th class="text-center" scope="col" style="width: 10%">Pokédex</th>
            <th class="text-center" scope="col" style="width: 15%">Name</th>
            <th class="text-center" scope="col" style="width: 27.5%">Image</th>
            <th class="text-center" scope="col" style="width: 27.5%">Animated Image</th>
            <th class="text-center" scope="col" style="width: 20%">Egg groups</th>
        </thead>
        <tbody>
        {% for pokemon in object_list %}
            <tr>
                <td class="align-middle text-center">{{ pokemon.pokemon_id }}</td>
                <td class="align-middle">
                    <a href="{% url 'pokemon-detail' pokemon.id %}">{{ pokemon.name.capitalize }}
                        <i class="float-right fa fa-{{ pokemon.gender }}"></i>
                    </a>
                </td>
                <td class="align-middle text-center"><img src={{ pokemon.image }} alt="not_available" height="100"></td>
                <td class="align-middle text-center"><img src={{ pokemon.gif }} alt="not_available"></td>
                <td class="align-middle">{% for g in pokemon.egg_groups.all %}
                    <li>{{ g.name.capitalize }}</li>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}