{% extends 'base.html' %}

{% block content %}
    <div class="row" style="margin-bottom: 2cm">
        <div class="col-md-8 float-left">
            <h1>{{ object.name.capitalize }} #{{ object.pokemon_id }}</h1>
            <h3>{{ object.gender.capitalize }} <i class="fa fa-{{ object.gender }}"></i></h3>
            <h3>Egg Groups</h3>
            {% for g in object.egg_groups.all %}
                <li>{{ g.name.capitalize }}</li>
            {% endfor %}
        </div>

        <div class="col float-right">
            <img class="" src={{ object.image }} height="150">
            <img class="" src={{ object.gif }} alt="Not_available">
        </div>
    </div>
    <div>
        <a href="/pokemon">Go back</a>
    </div>

{% endblock %}