{% extends 'base.html' %}
{% block content %}

{% if user.is_authenticated %}
    {% if starter %}
        <h2>Welcome {{ user.username }}!</h2>
        <h4>I am the professor Sylvain, here is your welcome gift !</h4>
        <ul class="list-inline">
        {% for p in starter %}
            <li class="list-inline-item">
                <img src={{ p.image }} height="175">
            <div class="text-center">{{ p.name.capitalize }}</div>
            </li>
        {% endfor %}
        </ul>

    {% else %}
        You are logged as {{ user.username }} !

    {% endif %}
    <a href="/">Go to Home</a>
{% else %}

<h1 style="margin-bottom: 2cm">Join now and get 3 Pokémon !</h1>
<form method="post" action=".">
    {% csrf_token %}
    <div class="row">
        <label for="username" class="form-group col-md-3 text-right">Trainer: </label>
        <input id="username" type="text" name="username" value="" class="form-control col-md-4">
    </div>
    <div class="row">
        <label for="email" class="form-group col-md-3 text-right">Email: </label>
        <input id="email" type="text" name="email" value="" class="form-control col-md-4">
    </div>
    <div class="row">
        <label for="password" class="form-group col-md-3 text-right">Password: </label>
        <input id="password" type="password" name="password" value="" class="form-control col-md-4">
    </div>
    {% if error %}
    <p style="color: #FF0000;"><strong>Trainer or email is already in use</strong></p>
    {% endif %}
    <button type="submit" class="btn btn-success float-right">Sign Up</button>
</form>
{% endif %}
{% endblock %}